/*--------------------- Body ----------------------------*/
body{
	margin: 0 0 0 0;
	background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
section{
	margin: 0 0 0 0 !important;
	padding: 0 0 0 0;
}

/*--------------------- Navbar ----------------------------*/
.navbar{
	color: white;
	word-spacing: 100px;
	text-align: center;

	position: fixed;
	width:100%;
	background-color:rgba(0, 0, 0, 0.5);
	margin: 0 0 0 0;
	padding: 20px 0 5px 0;
}
	.navbar a{
	    color: inherit;
	    text-decoration: none;
		border-bottom: 5px solid transparent;
	    font-family: 'Source Sans Pro', sans-serif;
	}
		.navbar a:hover{
			color: #65AAE1;
			border-bottom: 5px solid #65AAE1;
		}

/*--------------------- Mobile ----------------------------*/
@media (max-width: 480px) {
}

/*--------------------- Desktop ----------------------------*/
@media (min-width: 481px) {
	.transparent{
		padding-left: 200px;
		padding-right: 200px;
	}
		.transparent h1{
			font-size: 35px;
		}
	.blank{
		padding-left: 200px;
		padding-right: 200px;
	}
		.blank h1{
			font-size: 35px;
		}
	#about-text{
		font-size: 25px;
	}
}

/*--------------------- Section ----------------------------*/
.title{
	padding-top: 35vh;
	padding-bottom: 35vh;
	font-size: 40px;
	font-weight: lighter;
	text-align: center;
	color: #154971;
	font-family: 'Raleway', sans-serif;
}
.transparent{
	background-color:rgba(0, 0, 0, 0.5);
	padding-top: 30px;
	padding-bottom: 30px;
}
	.transparent h1{
		text-align: center;
	}
.blank{
	background-color: white;
	padding-top: 30px;
	padding-bottom: 30px;
}
	.blank h1{
		text-align: center;
		color: #154971;
	}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}


#about-text{
	color: gray;
	font-family: 'Raleway', sans-serif;
}
  #about-text a{
    color: inherit;
    border-bottom: 1px dotted gray;
    text-decoration: none;
  }
    #about-text a:hover{
      color: black;
    }

#projects-text{
	color: white;
	font-family: 'Raleway', sans-serif;
}
	#projects-text figure{
		max-width: 150px;
	}
	#projects-text ul{
		list-style-type: none;
	}
		#projects-text ul li{
			display: inline-block;
		}

#work-text{
	color: gray;
	font-family: 'Raleway', sans-serif;
}
	#work-text a{
		float: right;
	}

#contact-text{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: white;
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
}
	#contact-text a{
		display: inline-block;
		color: inherit;
		text-decoration: none;
	}

#copyright-text{
	color: gray;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}
	#copyright-text a{
	    color: inherit;
	    border-bottom: 1px dotted gray;
	    text-decoration: none;
	}
	    #copyright-text a:hover{
	      color: black;
	    }

